@use '../01-settings/variables' as *;

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-regular;
  line-height: $line-height-base;
  color: $color-text-primary;
  background-color: $color-bg-app;
}
