@use '../01-settings/variables' as *;

// ==========================================================================
// Box-sizing and minimal reset
// ==========================================================================
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

button {
  font: inherit;
}
